.action-button {
	background: #18f;
	padding: 5px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	margin: 5px auto;
	cursor: pointer;
	text-align: center;
	-webkit-transition: .4s;
	transition: .4s;
}

.action-button-in-wait {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-width: 128px;
	margin: 0px auto;
}

.action-button-in-wait > SPAN {
	/*margin-left: 1rem;*/
}

.disabled-action-button {
	background: #fff1;
	/* border: solid 1px #fff1; */
	color: #fff3;
	font-style: italic;
	font-weight: normal;
	-webkit-transition: .4s;
	transition: .4s;
}
